{% extends 'layout.html' %}

{% block body %}
<div class="mt-5">
    {% include 'includes/_messages.html' %}
    <form method="GET">
        <div class="input-group">
            <input type="text" class="form-control" name="search" placeholder="Search...">
            <button type="submit" class="btn btn-success">Search</button>
        </div>
    </form>
</div>
{% for result in results %}
    <div>
        <a href="{{ result.url }}">{{ result.title }}</a>
        <p>{{ result.description }}</p>
    </div>
{% endfor %}
{% endblock %}